.team-name {
  font-family: 'Elkwood', sans-serif;
}
.team-id {
  font-family: 'Josefin Sans', sans-serif;
}
.registered-at {
  font-family: 'Nunito';
}
input {
  margin-bottom: 0.5em;
}
button {
  background: #005cd8ad;
  border: 1px solid white !important;
  font-family: 'Press Start 2P', cursive;
}
button:hover {
  background: white;
  color: black;
}
