main {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../../../assets/images/about-us-background-1.jpg');
  min-height: 90vh;
  width: 100%;
  ngx-gallery {
    width: 100%;
  }
  iframe {
    width: 100vw;
    height: calc(100vw*0.75);
  }

  .ngx-gallery-thumbnail.ngx-gallery-active {
    filter: blur(1);
  }
}
