<main class="position-relative">
  <div class="about">
    <h1 class="heading">
      {{ event && event.name ? event.name : ''}}
    </h1>
    <div class="description">
      {{event && event.description ? event.description : ''}}
    </div>
    <div class="text-center pt-5 mb-1 timer-header">- &nbsp;STARTS &nbsp;IN &nbsp;-</div>
    <div class="timer row mb-3">
      <div class="col-3">
        <p>{{timer.days}}</p>
        <p>DAYS</p>
      </div>
      <div class="col-3">
          <p>{{timer.hours}}</p>
          <p>HRS</p>
      </div>
      <div class="col-3">
          <p>{{timer.minutes}}</p>
          <p>MIN</p>
      </div>
      <div class="col-3">
          <p>{{timer.seconds}}</p>
          <p>SEC</p>
      </div>
    </div>
    <button class="btn mt-5 p-2 position-relative" *ngIf="event && event.rounds && (event.startsAt > Date.now())"
      (click)="register()" [disabled]="!canRegister">REGISTER{{canRegister ? '' : "ED"}}</button>

  </div>

    <div *ngIf="event && event.children" class="position-absolute w-100">
            <app-event-button
            *ngFor="let child of event.children; let i = index"
             [left]="!(i % 2)" [imageURL]="child.imageURL"
             [text]="child.name"
             [route]="child.id"
             >
                </app-event-button>
    </div>

</main>
