main{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .timer-header {
    font-size: 2em;
  }
  .heading,.timer-header {
    font-family: 'Orbitron', sans-serif;
    @media (max-width: 500px) {
      font-size: 1.2em;
    }

  }
  .about{
      //margin-top: calc(50vh - 105px);;
      @media(min-width: 992px) {
        margin: 0 20% 0 20%;
        width: 60%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin: 0 10% 0 10%;
        width: 80%;

      }
      @media(max-width: 767px) {
        margin: 0 90px 0 90px;
        width: calc(100% - 180px);
      }
      text-align: center;
  }

  .timer {
    display: flex;
    justify-content: space-between;
    .col-3 {
      border: 1px solid white;
      @media(min-width: 500px) {
        padding-top: 1em;
      }
      border-radius: 10px;
      padding-left: 0;
      padding-right: 0;
      background: rgba(80, 71, 121, 0.4);
      max-width: 22%;
      :nth-child(1) {
        font-size: 5em;
        @media(max-width: 768px) {
          font-size: 3em;
        }
        @media(max-width: 500px) {
          font-size: 2em;
          padding: 0;
          margin: 0;
        }
      }
      :nth-child(2) {
      margin-bottom: 0;
      @media(min-width: 500px) {
        padding-bottom: 1em;
        padding-top: 1em;
      }
      @media(max-width: 499px) {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
      }


      border: 1px solid white;
      border-radius: 10px;
      background: rgba(80, 71, 121, 0.6);
      }
    }
  }

  button {
    font-size: 1.5em;
    bottom: 1em;
    z-index: 1;
    background: transparent;
    border: 1px solid white;
    font-family: 'Press Start 2P', cursive;
    @media(max-width: 500px) {
      font-size: 1em;
    }
  }
  button:hover {
    background: rgba(213, 0, 249, 0.52);
    border-color:rgba(213, 0, 249, 0.52);
  }
}
.event-list {
  @media(max-width: 500px) {
    // top: 0;
  }
}
