main{
  min-height: 100vh;
  background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../../assets/images/coronaBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .heading,.timer-header {
    font-family: 'Orbitron', sans-serif;

  }
  .about{
      //margin-top: calc(50vh - 105px);;
      @media(min-width: 992px) {
        margin: 0 20% 0 20%;
        width: 60%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        margin: 0 10% 0 10%;
        width: 80%;

      }
      @media(max-width: 767px) {
        margin: 0 90px 0 90px;
        width: calc(100% - 180px);
      }
      text-align: center;
  }
  .timer-header {
    font-size: 2em;
    @media(max-width: 500px) {
      font-size: 1.5em;
    }

  }
  .timer {
    display: flex;
    justify-content: space-between;
    .col-3 {
      border: 1px solid white;
      padding-top: 1em;
      border-radius: 10px;
      padding-left: 0;
      padding-right: 0;
      background: rgba(80, 71, 121, 0.4);
      max-width: 22%;
      :nth-child(1) {
        font-size: 5em;
        @media(max-width: 768px) {
          font-size: 3em;
        }
        @media(max-width: 500px) {
          font-size: 2em;
        }
      }
      :nth-child(2) {
        margin-bottom: 0;
    padding-bottom: 1em;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(80, 71, 121, 0.6);
    padding-top: 1em;
      }
    }
  }

  button {
    font-size: 1.5em;
    bottom: 1em;
    z-index: 1;
    background: transparent;
    border: 1px solid white;
    font-family: 'Press Start 2P', cursive;

  }
  button:hover {
    background: rgba(213, 0, 249, 0.52);
    border-color:rgba(213, 0, 249, 0.52);
  }
}
