main {
    height: 100%;
    .top {
      animation-duration: 1.5s;
    }
    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 5em;
        @media(max-width: 767px) {
            font-size: 2.7em;
        }
        letter-spacing: 0.4rem;
        word-spacing: 1rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'Monoton', cursive;
        word-spacing: 1.5rem;
        @media(max-width: 767px) {
            font-size: 1.5em;
        }
        @media(min-width: 768px) {
            font-size: 2.5em;
        }
    }
    min-height: 95vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../assets/images/corona-new.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .sponsor-link {
      font-size: 1.5em;
      //top: 50px;
      bottom:0;
      a {
        color: orange;
      }
      a:hover {
        text-decoration: none;
      }
    }
}
.contianer {
    position: relative;
  }

  .hexagon {
      overflow: hidden;
      visibility: hidden;
      animation-delay: 1s;
      animation-duration: 3s;
      -webkit-transform: rotate(120deg);
         -moz-transform: rotate(120deg);
           -o-transform: rotate(120deg);
              transform: rotate(120deg);
      cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
      }

  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }


  .hexagon-in2 {
    text-decoration: none !important;
    color: white !important;
    padding:133px 0 133px 0;
      width: 100%;
      height: 100%;
      background: white;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      visibility: visible;
      -webkit-transform: rotate(-60deg);
         -moz-transform: rotate(-60deg);
           -o-transform: rotate(-60deg);
              transform: rotate(-60deg);
              p,h3 {
                display: none;
                font-family: 'Josefin Sans', sans-serif;
                animation-duration: 0.5s;
              }
              p {
                font-size: 1.5em;
              }
              h3 {
                font-size: 2.5em;
              }
      }


  .hexagon1 {
      width: 400px;
      height: 200px;
      margin: 0 0 0 -80px;
      }
  .hexagon2 {
      width: 200px;
      height: 400px;
      }
  .dodecagon {
      width: 200px;
      height: 200px;
      margin: -80px 0 0 20px;
      }
      app-list-item:hover {
        .hexagon-in2 {
          p,h3 {
            display: block;
          }
        }
        }
