<main class="pt-2 text-center" #main>
  <h1 class="mb-sm-5 mb-4">
    Corona &amp; Melange'19
  </h1>
  <h2>SPONSORED BY</h2>
  <div class="position-relative">
  <div class="container">
      <!--[if IE 8]><div class="ie"><![endif]-->
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
      
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>      
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>        

        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>      
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
        <app-list-item>
          <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
        </app-list-item>
      </div>
      </div>
      
</main>