<main class="pt-2">
      <div class="header mb-0 pb-4 pl-2 pr-2 pt-3">
              <a href="http://www.nitp.ac.in/php/home.php"><img src="assets/images/nitlogo.png" class="mr-2"></a>
                  <h2><b>DIRECTOR'S DESK</b></h2>
      </div>
          <div class="d-flex flex-column justify-content-center img-holder mb-2">
              <img src="assets/images/our-team/director.jpg" class="ml-auto mr-auto mb-3" style="border-radius: 50%;">
              <h4 class="m-auto mb-2 text-center">PROF. PRADIP KUMAR JAIN</h4>
              <h5 class="m-auto text-center">DIRECTOR<br>NIT PATNA</h5>
        </div>
             <div class="p-3 director-letter">
                   <p>
                      My humble greetings to all participants of Corona and Melange '19. Since its first edition, the Techno-Cultural Fest is proving itself as the best time of the year, here at NIT Patna. It has been maintaining the legacy of getting tremendously better year by year.<br><br>

                      I gladly appreciate the hard work of the students involved, with the motive of making the fest a successful one. It is wonderful to see young minds of the nation taking initiatives that involve practical application of what they learn. Such fests teach the students management skills and engineering skills, without any shortage for fun. I admire Corona and Melange for the holistic development it inculcates in its participants.<br><br>

                      This year, "Corona and Melange '19: The Bohemian Escapade" is going to be an astounding moment in the history of NIT Patna. The entire conventions of the event has been refurbished this edition- starting from its digitalised registration process to the series of new contests. My hopes for the first fest under my office is greatly high. And undoubtedly, TCF'19 is destined to exceed all expectations.<br>

                      My hearty wishes to the team of Corona and Melange '19 and my effusive gratitude to all participants who owe to its success.<br><br>

                      Regards,
                      <br>
                      PROF. PRADIP KUMAR JAIN
                      <br>
                      Director
                      <br>
                      NIT Patna
                  </p>
              </div>

</main>
