<main class="text-center" *ngIf="!!pack">
  <h6 class="w-100 pt-2 pb-2 m-0 title">{{ pack && pack.name }}</h6>
  <div class="w-100 main-content m-0 pt-4 pl-2 pr-2 pt-2 pb-4">
    <p class="mb-0 small">{{pack.description}}</p>
  </div>
  <div class="w-100 pt-3 m-0 bottom-content">
    <h3 class="bottom-content-heading w-50 ml-auto mr-auto mb-4 mt-2">Price</h3>
    <div class="w-100 mb-2 d-flex justify-content-between pl-2 pr-2 bottom-row">
      <p>NITP</p>
      <p>&#x20b9; {{pack.payment.nitp}}/-</p>
    </div>
    <div class="w-100 mb-2 d-flex justify-content-between pl-2 pr-2 bottom-row">
        <p>OTHER</p>
        <p>&#x20b9; {{pack.payment.other}}/-</p>
    </div>
    <div class="purchase mt-4">
      <button class="btn p-2" (click)="emitPurchase()">Purchase</button>
    </div>
  </div>
</main>
