<main class="w-100 d-flex flex-column text-center">
  <div class="w-100 pt-2 pl-1 pr-1">
    <div class="image-holder" [ngStyle]="{'background-image':profilePicture}"></div>
    <h3 class="m-0 mt-2" *ngIf="user">{{user.displayName.split(' ')[0]}}</h3>
  </div>
  <button routerLink='/campus-ambassador' routerLinkActive='active'>CAP</button>
  <button routerLink='/events/fest' routerLinkActive='active'>Events</button>
  <button routerLink='/gallery' routerLinkActive='active'> Gallery</button>
  <button routerLink='/profile' routerLinkActive='active' *ngIf="user">Profile</button>
  <button routerLink='/about-us' routerLinkActive='active'>About Us</button>
  <button routerLink='/sponsors' routerLinkActive='active'>Sponsors</button>
  <button routerLink='/pricing' routerLinkActive='active' class="mb-2">Pricing</button>
  <button class="btn log-out" *ngIf="user" (click)="logOut()">Log Out</button>
  <button class="btn log-out" *ngIf="!user" routerLink='/sign-in'>Log In</button>

</main>
