main {
  font-family: 'Nunito', sans-serif;
  min-height: 90vh;
  width: 100vw;
  background-color: #49464d;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  .completion-level {
    background: #63636f;
    border-radius: 10px;
    .completion-background {
      height: 100%;
      position: absolute;
      top: 0;
      background: #b7aeae;
      border-radius: 10px;
    }
  }
  .profile-image-button {
    position: absolute;
    top: 156px;
    left: calc(50% + 40px);
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  .profile-image {
    overflow: hidden;
    height: 200px;
    border: 1px solid white;
    width: 200px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/profile-placeholder.png');
  }
  .detailsform-main {
    border-radius: 10px;
    .form-field {
      .form-label {
        padding: 1em;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #14212f96;
        @media(min-width: 768px) {
          width: 25%;
        }
        @media(min-width: 500px) and (max-width: 767px) {
          width: 33%;
        }
        @media(max-width: 499px) {
          width: 40%;
        }
      }
      .form-value {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 3em;
        background: #0b1c29ab;
        @media(min-width: 768px) {
          width: 75%;
        }
        @media(min-width: 500px) and (max-width: 767px) {
          width: 67%;
        }
        @media(max-width: 499px) {
          width: 60%;
        }
      }
    }
  }
  .submit-btn {
    background: none;
    border: 1px solid;
  }
  .submit-btn:hover {
    background: white;
    color: black;
  }
}

input:disabled {
  border: none;
}
i {
  display: flex;
}
i::before {
  margin: auto;
}
.fa-user-o {
  color: #9898de;
}
.fa-star-o {
  color: #ca7a7a;
}
