<main class="container-fluid" *ngIf="currentProfile">
  <form [formGroup]="detailsForm">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mb-2">
      <button (click)="file.click()" class="profile-image-button"><i class="fa fa-camera"></i></button>
      <input type="file" #file hidden accept="image/*" (change)="previewImage($event)">
      <div #profileImageHolder class="profile-image"></div>
    </div>
    <div class="col-12">
      <div class="row col-12 text-center">
          <h4 class="w-100 text-uppercase" style="color: #b16e6e;">{{currentProfile.name}}</h4>
          <p class="w-100">{{
             currentProfile.email }} {{currentProfile.collegeName ? ' | ' + currentProfile.collegeName : ''}}</p>
      </div>
      <div class="row col-12 d-flex justify-content-center mb-2" *ngIf="currentProfile.admin">
        <i class="fa fa-2x fa-user-o mr-1"></i>
        <p class="d-flex flex-column justify-content-center m-0">You're an admin of {{currentProfile.adminAccess}}</p>
      </div>
      <div class="row col-12 d-flex  justify-content-center mb-2" *ngIf="currentProfile.ambassador">
          <i class="fa fa-2x fa-star-o mr-1"></i>
          <p class="d-flex flex-column justify-content-center m-0">You're a Campus Ambassador</p>
      </div>
      <div class="row col-12 d-flex  justify-content-center mb-2 align-items-center" *ngIf="currentProfile.tcfId; else noTcfId">
          <p class="d-flex flex-column justify-content-center mr-2 align-items-center mt-0 mb-0" style="align-items: center;">Your TCF'ID is </p>
          <button class="btn btn-success">{{currentProfile.tcfId}}</button>
      </div>
      <ng-template #noTcfId>
        <p class="row col-12 text-center m-2 d-flex justify-content-center">No TCF'ID yet.</p>
      </ng-template>
      <div class="row col-12 d-flex  justify-content-center mb-2 align-items-center">
          <ul class="list-inline"  *ngIf="currentProfile.packages && currentProfile.packages.length > 0; else noPackages">
            <li class="list-inline-item" *ngFor="let package of packages">
              <i [ngClass]="package.class"></i>
              <p>{{package.name}}</p>
            </li>
          </ul>
          <ng-template #noPackages>
            Not yet subscribed to any fest package.
          </ng-template>
      </div>
      <div class="container detailsform-main">
        <div class="w-100 d-flex mb-2 form-field">
          <div class="form-label">
            Phone
          </div>
          <input tpye="text" class="form-value" formControlName="phoneNumber" placeholder="10-digit-number">
        </div>
        <p *ngIf="detailsForm.get('phoneNumber').invalid" class="w-75 text-center" style="color:red;">Invalid phone number</p>
        <div class="w-100 d-flex mb-2 form-field">
            <div class="form-label">
                Insitiute Roll No.
              </div>
              <input type="text" class="form-value" formControlName="rollNo" placeholder="">
        </div>
        <div class="w-100 d-flex mb-2 form-field">
            <div class="form-label">
                Degree
              </div>
              <input type="text" class="form-value" formControlName="degree" placeholder="Example - B.Tech, M.Tech, etc">
        </div>
        <div class="w-100 d-flex mb-2 form-field">
            <div class="form-label">
                Branch
              </div>
              <input type="text" class="form-value" formControlName="branch" placeholder="Example - CS, ECE">
        </div>
        <div class="w-100 d-flex mb-2 form-field">
            <div class="form-label">
                Year of Completion
              </div>
              <input type="tel" class="form-value" formControlName="yearOfCompletion" placeholder="Ex - 2020">
        </div>
        <p *ngIf="detailsForm.get('yearOfCompletion').invalid" class="w-75 text-center" style="color:red;">Invalid year</p>
      </div>
      <div class="w-100 mb-2" *ngIf="!(currentProfile && currentProfile.tcfId)">
          <button class="btn btn-block btn-primary submit-btn" (click)="updateProfile()" [disabled]="detailsForm.invalid">Submit</button>
      </div>
    </div>
  </div>
  </form>
</main>
