<main>
  <div class="top-area pt-2">
    <div class="container">
    <h1 class="text-center">Welcome to your ambassador dashboard, &nbsp;<span>Arnav Vats</span></h1>
    <div class="row">
      <div class="col-12 row p-2 dashboard">
        <div class="col-2 d-md-flex flex-column justify-content-center d-none">
          <i class="fa fa-5x fa-users"></i>
        </div>
        <div class="col-md-10 col-12 text-center">
          <h3>Here is your personalized share message!</h3>
          <p class="share-message">Welcome to your ambassador dashboard,  Arnav Vats</p>
          <div class="d-flex justify-content-center mt-2">
            <p class="mr-4">Share now!</p>
            <div class="social-icons">
              <i class="fa fa-whatsapp mr-3"></i>
              <i class="fa fa-envelope-o mr-3"></i>
              <i class="fa fa-facebook"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="middle-area">
    <div class="row col-12">
        <div class="leaderboard">
          <i class="fa fa-trophy"></i>
          <h1>Ambassador LeaderBoard</h1>
          <table class="table table-striped">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Points</th>
              <th>Referrals</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>XYZ</td>
                <td>XYZ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>XYZ</td>
                <td>XYZ</td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>XYZ</td>
                  <td>XYZ</td>
                  <td>XYZ</td>
              </tr>
                <tr>
                    <td>1</td>
                    <td>XYZ</td>
                    <td>XYZ</td>
                    <td>XYZ</td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="prizes"></div>
    </div>
  </div>
  <div class="bottom-area"></div>
</main>
