<main class="animated fadeIn">
  <div class="top-area pt-2">
    <div class="container">
    <h1 class="text-center animated zoomIn">Welcome to your ambassador dashboard, &nbsp;
        {{userDetail && userDetail.name ? userDetail.name : ' '}}</h1>

    <div *ngIf="userDetail && userDetail.ambassador" class="row">
      <div class="col-12 row p-2 dashboard animated slideInRight">
        <div class="col-2 d-md-flex flex-column justify-content-center d-none">
          <i class="fa fa-5x fa-users text-center"></i>
        </div>
        <div class="col-md-10 col-12 text-center">
          <h3>Here is your personalized share message!</h3>
          <p class="share-message"> Hello, this is {{userDetail.name}}, ambassador for TCF'19
            National Institute of Technology, Patna, Please register with my link
          </p>
          <div class="d-flex justify-content-center mt-2">
            <p class="mr-4">Share now!</p>
            <div class="social-icons">
              <a [href]="'whatsapp://send?text=Hello, this is '+userDetail.name+' , ambassador for TCF\'19
              National Institute of Technology, Patna, Please register with my link'" data-action="share/whatsapp/share"><i class="fa fa-whatsapp mr-3"></i></a>
              <i class="fa fa-envelope-o mr-3"></i>
              <i class="fa fa-facebook"></i>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 row mt-4 p-2 dashboard text-center animated slideInLeft">
          <div class="col-4">
            <h3>Your Rank</h3>
            <h1 class="dark">{{userDetail.ambassador.rank}}</h1>
          </div>
          <div class="col-4">
            <h3>Your Points</h3>
            <h1 class="dark">{{userDetail.ambassador.points}}</h1>
          </div>
          <div class="col-4">
            <h3>Referral Count</h3>
            <h1 class="dark">{{userDetail.ambassador.count}}</h1>
          </div>
      </div>
    </div>

      <div class="row" *ngIf="userDetail && !userDetail.ambassador">
          <div class="col-12 mt-4 p-2 dashboard text-center animated slideInRight">
              <p class="w-100">You have not yet registered for the Campus Ambassador Program!!</p>
              <a class="btn btn-danger animated pulse infinite" (click)="joinAP()">Click Here To Join</a>
          </div>
      </div>
  </div>
  </div>
  <div class="middle-area">
    <div class="row col-12 middle-area-inner">
        <div class="leaderboard animated slideInUp">
          <i class="fa fa-5x fa-trophy trophy"></i>
          <h3 class="text-center mb-2">Ambassador LeaderBoard</h3>
          <table class="table table-striped">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Points</th>
              <th>Referrals</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>XYZ</td>
                <td>XYZ</td>
              </tr>
              <tr>
                <td>1</td>
                <td>XYZ</td>
                <td>XYZ</td>
                <td>XYZ</td>
              </tr>
              <tr>
                  <td>1</td>
                  <td>XYZ</td>
                  <td>XYZ</td>
                  <td>XYZ</td>
              </tr>
                <tr>
                    <td>1</td>
                    <td>XYZ</td>
                    <td>XYZ</td>
                    <td>XYZ</td>
                  </tr>
            </tbody>
          </table>
        </div>
        <div class="prizes animated slideInUp">
          <i class="fa fa-5x fa-gift gift"></i>
          <h3 class="text-center">Ambassador Prizes</h3>
          <div class="row">
            <div class="col-2 text-center">
              <i class="fa fa-3x fa-gift red"></i>
            </div>
            <div class="col-10">
              <h3 class="purple">prizes</h3>
              <p>Top 5 campus ambassadors will get gifts worth 10k rupees.</p>
            </div>
          </div>
          <div class="row">
              <div class="col-2 text-center">
                <i class="fa fa-3x fa-certificate red"></i>
              </div>
              <div class="col-10">
                <h3 class="purple">certificates</h3>
                <p>All the ambassadors will get a certificate of excellence.</p>
              </div>
            </div>
          <div class="row">
              <div class="col-2 text-center">
                <i class="fa fa-3x fa-cog red"></i>
              </div>
              <div class="col-10">
                  <h3 class="purple">workshops</h3>
                  <p>Top 10 campus ambassadors will get free entry to our workshops worth 15k rupees.</p>
                </div>
              </div>   
        </div>
    </div>
  </div>
  <div class="bottom-area"></div>
</main>
