main {
   min-height: 90vh;
   width: 100vw;

  .top-area {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../../../assets/images/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10em;
    h1 {
      @media (max-width: 767px) {
        font-size: 1.8rem;
      }
    }
    font-family: 'Josefin Sans', sans-serif;
    .dashboard {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 20px;
    }
    .share-message {
      color: #ffffffa3;
    background: #ff000052;
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
    margin: auto;
    }
    .social-icons:hover {
      cursor: pointer;
    }
    .social-icons i {
      transition: transform 0.1s ease-in-out;
    }
    .social-icons i:hover {
      color: black!important;
      transform: scale(1.5);
    }
  }
}
.middle-area {
  .middle-area-inner {
      @media(max-width: 767px) {
        padding: 0;
        margin: 0;
    }
  }
  .table-holder {
    @media(min-width: 768px) {
      height: 16em;
      overflow: scroll;
    }
  }
}

.leaderboard,.prizes {
 @media(max-width: 767px) {
   border-radius: 0;
   padding-bottom: 8em;
 }
  background: white;;
  * {
    color: black;
  }
  h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #6565ca;
  }
  display: flex;
  flex-direction: column;
  top: -5rem;
  color: black;
  background: white;
  border: 1px solid white;
  padding: 5rem 1rem 1rem 1rem;
  @media(min-width: 768px) {
    left: 5%;
    position: absolute;
    width: 45%;

  }
  @media(max-width: 767px) {
    width: 100%;
  }
  border-radius: 2rem;
}
.trophy,.gift {
  @media(max-width: 576px) {
    left: 0;
  }
  position: absolute;
  top: -2rem;
  width: 100%;
  text-align: center;
}
.gift {
   border-radius: 0;
    @media(max-width: 767px) {
      top: -0.5em;
       margin: 0;
    }
}
.trophy:before,.gift:before {
  color: white;
  padding: 1rem;
  border-radius: 1em;
  background: #6565ca;
}
.prizes {
  @media(min-width: 768px) {
    left: 53%;
  }
  @media(max-width: 767px) {
    position: relative;
    padding-top: 6em;
    border-top: 1px solid;
  }

}
.purple {
  color: #6565ca;
}
.red {
  color: #e2213a !important;
}
