<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" #navbar>
  <a class="navbar-brand" routerLink="">
    <img class="img-corona" src="../../../../assets/images/Corona.png">
    '19
  </a>
  <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="toggleDropDown()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" #dropDown>
    <ul class="navbar-nav ml-auto">

    <li class="nav-item">
        <a class="nav-link" routerLink="about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About Us<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link" routerLink="gallery" routerLinkActive="active">Gallery <span class="sr-only">(current)</span></a>
        </li>

      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="sponsors" routerLinkActive="active">Sponsors<span class="sr-only">(current)</span></a>
     </li>
      
    
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="campus-ambassador" routerLinkActive="active">Campus Ambassador <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact Us <span class="sr-only">(current)</span></a>
        </li>
        
      <li class="nav-item dropdown " *ngIf="user">
        <a class="nav-link" (click)="logOut()" routerLinkActive="active">Logout({{user.displayName}})<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="!user">
          <a class="nav-link" routerLink="sign-in" routerLinkActive="active">Sign in <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
