nav {
  font-family: 'Elkwood', sans-serif;
  z-index: 2 !important;
  font-size: 1.3em;
  transition: background-color 1s ease-in-out;
  .navbar-brand {
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;

    font-family: 'Bai Jamjuree', sans-serif;
  }
  * {
    transition:  color 1s ease-in-out;;
  }
}
.bg-dark {
  background-color: black !important;
}
.logout-link {
  @media(min-width: 992px) {
    position: absolute;
    right: 1em;
  }
}

.img-corona{
    width: 42px;
}
app-notification {
  position: fixed;
  display: block;
  width: 95vw;
  z-index: 4;
}
.notification-count {
  position: absolute;
    bottom: 12px;
    background: red;
    padding: 0px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}
@media(min-width: 500px) {
  nav {
    position: fixed;

  }
}
@media(max-width: 500px) {
  nav {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  }
  .navbar-collapse {
    width: 40vw;
  }
}
.fa-bell {
  font-size: 1.5em;
}
.active {
  color: black !important;
  background: white;
  border-radius: 30px;
  padding: 0.2em;
}
