nav {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  transition: background-color 1s ease-in-out;
  .navbar-brand {
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Bai Jamjuree', sans-serif;
  }
  * {
    transition:  color 1s ease-in-out;;
  }
}
.bg-dark {
  background-color: black !important;
}

