nav {
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  font-size: 0.9em;
  transition: background-color 1s ease-in-out;
  .navbar-brand {
    font-size: 1.5rem;
    padding-left: 1em;
    padding-right: 1em;
    
    font-family: 'Bai Jamjuree', sans-serif;
  }
  * {
    transition:  color 1s ease-in-out;;
  }
}
.bg-dark {
  background-color: black !important;
}
.logout-link {
  @media(min-width: 992px) {
    position: absolute;
    right: 1em;
  }
}
.logout-link:hover {
  cursor: pointer;
}
.img-corona{
    width: 100px;
}
