app-sidenav {
  animation-duration: 0.5s !important;
  height: 92vh;
  overflow: scroll;
  top: 3.1em;

  @media(min-width: 576px) and (max-width: 767px) {
    min-width: 40vw;

  }
  @media(max-width: 575px) {
    min-width: 55vw;

  }

  position: fixed;
  z-index: 2;
  background: black;
}
.holder{
    margin-top: 4em;
    background-color: black;
    width:100%;
    overflow-x: hidden;
    @media(min-width: 768px) {
      app-sidenav {
        display: none !important;
      }
    }
    @media(max-width: 767px) {
      app-sidenav {
        display: block;
      }
    }
}
app-loader {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
}

