main{
    min-height: calc(100vh - 62px);
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo{
      @media(min-width: 992px) {
        width: 700px;
        margin-left: calc(50vw - 350px);
      }
      @media(min-width: 768px) and (max-width: 991px) {
        width: 500px;
        margin-left: calc(50vw - 250px);
      }
      @media(min-width: 576px) and (max-width: 767px) {
        width: 400px;
        margin-left: calc(50vw - 200px);
      }
      @media(max-width: 575px) {
        width: 320px;
        margin-left: calc(50vw - 168px);
      }
      width:600px;
        margin-left: calc(50vw - 140px);
        text-align: center;
        position: absolute;
        transition: transform 1s ease-in-out;
    }
    .logo:hover {
      transform: scale(1.25);
    }
}
.bg-img {
  width: 100vw;
  height: 90vh;
  display: flex;
  background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../../assets/images/coronaBackground.jpg");
  position: fixed;
  z-index: 0;
}
