<div class="bg-img"></div>
<particles [style]="myStyle" [params]="myParams" *ngIf="events"></particles>
<main class="position-relative animated fadeIn">
    <img class="logo d-none d-sm-block position-absolute" src="assets/images/Corona.png" style="filter: invert(1);">
    <div class="logo d-flex d-sm-none flex-column animated jackInTheBox">
        <img class="" src="assets/images/CoronaIcon.png">
        <img class="" src="assets/images/CoronaText.png">
        <img class="year" src="assets/images/CoronaYear.png">
    </div>
    <div *ngIf="events && events.children" class="d-sm-block d-none">
            <app-event-button  *ngFor="let child of events.children; let i = index"
            [left]="!(i % 2)" [imageURL]="child.imageURL"
             [text]="child.name"
             [route]="child.id"
            ></app-event-button>
    </div>
    <div  *ngIf="events && events.children" class="d-sm-none d-block container events-sm">
      <div class="row">
      <a *ngFor="let child of events.children" class="col-6 text-center" [routerLink]="'events/' + child.id">
        <img [src]="'assets/images/events-logo/' + child.imageURL" class="animated pulse infinite">
        <p>{{child.name}}</p>
      </a>
    </div>
    </div>
</main>
<div class="position-relative w-100 nitin text-center mb-3">
  <img src="assets/images/nitin.png" class="img img-fluid">
</div>

