<div class="main pt-5 mb-5 pl-2 animated fadeIn">
    <div class="row mb-3">
      <div class="offset-lg-1 col-lg-5 col-md-6 col-12 pl-5 animated fadeInDownBig ad-2">
        <h4>Contact Information</h4>
        <span class="bordered-span mt-4"></span>
        <p class="mt-4 mb-5">Get in touch today. We would love to hear from you.</p>
        <div class="row mt-3 contact-info">
          <div class="col-12 d-flex flex-row mb-5">
            <i class="fa fa-2x fa-phone mr-4 "></i>
            <div>
              <h5>Phone</h5>
              <p>+91 8252004837</p>
            </div>
          </div>
          <div class="col-12 d-flex flex-row mb-5">
            <i class="fa fa-2x fa-envelope-o mr-4 "></i>
            <div>
              <h5>Email</h5>
              <p>arnavvats97@gmail.com</p>
          </div>
          </div>
          <div class="col-12 d-flex flex-row mb-5">
            <i class="fa fa-2x fa-map-marker mr-4"></i>
            <div>
              <h5>Address</h5>
              <p>NIT Patna,
                Bihar,
                India
              </p>
          </div>
        </div>
    </div>
      </div>
      <div class="offset-lg-1 col-lg-5 col-md-6 col-12 pl-md-1 pl-5 animated fadeInDownBig ad-2">
        <h5>Send Us A Message</h5>
        <span class="bordered-span mt-4"></span>
        <p class="mt-4">Your email will not be published, required fields are marked.</p>
        <div class="row pr-4 pl-4 col-12">
          <div class="row mt-3 w-100">
               <div class="col-md-6 col-12 mb-md-0 mb-3 p-0">
                 <input type="text" placeholder="Name*" class="form-control">
                </div>
                <div class="col-md-6 col-12 pl-md-2 pl-0 pr-0">
                  <input type="text" placeholder="Email*" class="form-control">
                </div>
          </div>
          <div class="row mt-3 w-100">
            <div class="col-md-6 col-12 mb-md-0 mb-3 p-0">
              <input type="tel" placeholder="Phone*" class="form-control">
            </div>
            <div class="col-md-6 col-12 pl-md-2 pl-0 mb-3 pr-0">
              <input type="text" placeholder="Subject*" class="form-control">
            </div>
          </div>

          <div class="row col-12 mt-3 p-0 w-100">
            <textarea class="form-control" placeholder="Message*" rows="5"></textarea>
          </div>
          <div class="row col-12 mt-3 p-0 w-100">
            <button type="button" class="btn btn-block">Send Us A Message</button>
          </div>
        </div>
      </div>
  </div>
    <div class="row mt-2 mb-3 pl-5 pr-4 col-12">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDm9MO7inWEy-_k6hgApQgCToE1D-AldfY
      &q=28.557374,77.372114" allowfullscreen></iframe>
    </div>
  </div>
