main {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../../../assets/images/about-us-background-1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Architects Daughter', cursive;
  min-height: 90vh;

  .yellow {
    color: #ccbd8f;

  }
  .logo-container {
    width: 160px;
    height: 200px;
    .curved-arrow {
      transform: rotate(62deg);
      position: absolute;
      bottom: 10px;
      left: 25px;
      width: 90px;
      height: 90px;
    }
    .logo-main {
      width: 120px;
      height: 120px;
      left: 25px;
    }
  }
  .curved-arrow-bottom {
    height: 25px;
    margin: auto;
    transform: rotate(-40deg);

  }

  .about-us {
    margin-top: 4em;
    h1 {
      font-size: 3.5rem;
    }
    .right-info {
      background:url('../../../assets/images/aboutus-ourexpertiseN.png');
      background-size: 200px 200px; 
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat; 
      }
    .curved-arrow-bottom-left {
      position: absolute;
    bottom: -16px;
    left: 68px;
    transform: rotateY(180deg) rotate(28deg);
    height: 50px;
    @media(max-width: 767px) {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: rotate(25deg);
    }
    }
    .curved-arrow-middle-right {
      position: absolute;
      top: 100px;
      right: 25px;
      height: 32px;
      transform: rotate(-50deg);
      @media(max-width: 767px) {
        top: 100%;
        left: 50%;
        transform: rotate(40deg);
}
      }
    }
    .curved-arrow-bottom-bottom {
      height: 32px;
      transform: rotateY(180deg) rotate(45deg);
    }
  .advertising {
    background: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../../../assets/images/welcome3.png');
    background-size: 150px 150px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
  }
  .animated{
      padding-bottom: 6em;
      padding-top: 8em;
  }
}

