<main class="animated fadeIn">
  <div class="container-fluid animated zoomIn">
    <div class="row mb-5">
      <div class="col-md-4 col-12">
        <div class="row text-center">
          <div class="col-12">
              <div class="position-relative logo-container m-auto">
                  <img src="assets/images/curved-arrow-red.png" class="curved-arrow">
                  <img class="img img-fluid rounded-circle logo-main position-absolute" src="assets/images/nitlogo.png">
              </div>
          </div>
          <div class="col-12 mt-4">
              <h3 class="yellow">Application Development</h3>
              <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown n the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
              </p>
              <div class="w-100 d-flex">
                 <p class="yellow"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                 <!-- <span class="fa fa-2x fa-arrow-right d-flex justify-content-center flex-column"></span> -->
                 <img src="assets/images/curved-arrow-red.png" class="curved-arrow-bottom">
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 col-12 about-us">
        <div class="row">
          <div class="col-12">
            <h1 class="yellow mb-2">About Us</h1>
            <p>Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-12">
            <img src="assets/images/mobile-phone-variant.png" class="img-fluid mb-2 mb-md-0">
            <!-- <img src="assets/images/curved-arrow-red.png" class="curved-arrow-bottom-left"> -->
            <img src="assets/images/curved-arrow-red.png" class="curved-arrow-middle-right">
          </div>
          <div class="col-md-7 col-12 mt-md-0 mt-5">
            <div class="row right-info">
              <div class="col-md-10 col-12">
                  <h3 class="yellow mb-2">Websites from brilliant ideas</h3>
                  <p class="mb-2">
                      Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum
                      Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum
                  </p>
                  <p class="yellow">Our goal is lorem ipsum Our goal is lorem ips</p>
                  <img src="assets/images/curved-arrow-red.png" class="curved-arrow-bottom-bottom m-md-0 m-auto d-md-inline d-flex">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-5 col-12 mb-md-0 mb-3">
        <h4 class="yellow mb-2">Early Stage Investor</h4>
        <p>
            Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum
            Our goal is lor
        </p>
      </div>
      <div class="offset-md-2 col-md-5 col-12 advertising">
        <h4 class="yellow mb-2">Advertising Solutions</h4>
        <p>
            Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum Our goal is lorem ipsum
            Our goal is lor
        </p>
      </div>
    </div>
  </div>
</main>
