
main {
  font-family: 'Nunito', sans-serif !important;
  padding: 100px 120px;
  @media(max-width: 575px) {
    padding: 3em;
  }
  min-height: 80vh;
  background: url("../../../assets/images/bg-image.png");
  .middle {
   background: white;
    min-height: 80vh;
    color: black;

    .laptop {
      background: #f51616ba url("../../../assets/images/Corona.png");
      background-size: 400px;
      background-position:center;
      background-repeat: no-repeat;
      
      color: black;
    }
    .sign-up-block {
      //border: 1px solid white;
      //border-left: 0;
      //box-shadow: 0 0 25px gray;
      color: black;
      .info {
        height: 0;
      }
      .left {
        @media(min-width: 992px) {
          border-right: 0.5px solid #495057;
        }
        input, select {
          border-radius: 25px;
          font-size: 0.8rem;
          z-index: 0;
          width: 100%;
        }
        select {
          appearance: none;
        }
        i {
          position: absolute;
          right: 0.9em;
          top: 0.9em;
          color: #495057;
          z-index: 1;
        }
        p.error {
          font-size:0.7em;
        }
      }
    .right {
      .or {
        left: -1.5em;
        top: 50%;
        border:0.5px solid #495057;
        border-radius: 30px;
        padding: 10px;
        background: white;
      }
      .sign-button {
        position: absolute;
        top:50%;
        left: 25%;
        transition: left 0.4s, width 0.4s !important;
      }
      .sign-button:hover {
        width: 80% !important;
        left: 10% !important;
      }
    }
      .sign-button {
        padding: 0.5em;
        border-radius: 25px;
        border: 1px solid black;
        color: black;
        width: 50%;
        transition: width 0.4s;
      }
      .sign-button:hover {
        cursor: pointer;
        background: black;
        color: white;
        width: 80%;
      }
    }
  }
}
.sign-in-link {
  color: #ca626c !important;
  font-size: 1.3em;
}
.sign-in-link:hover {
  cursor: pointer;
}


