.round-btn {
  background: #25271a;
  border: transparent;
  border-radius: 0;
}
.round-btn-active {
  background: #4c6f3b !important;
}
i:before {
  margin:auto;
}
.close-btn {
  position: absolute;
    top: 0;
    right: 12px;
    background: red;
    border-radius: 20px;
    padding: 0 4px 0 4px;
}
h4 {
  font-family: 'Architects Daughter';
}
p, li {
  font-family: 'Josefin Sans';
}
