/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

*{
        color:white;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');


.dark {
        color: black !important;
      }
.ad-1point5 {
  animation-duration: 1.5s !important;
}
.ad-2 {
  animation-duration: 2s !important;
}.ad-3 {
  animation-duration: 3s !important;
}

.error {
  color: red;
}
.success {
  color: green;
}
.capitalize {
  text-transform: capitalize;
}
.link {
  color: white;
  text-decoration: none !important;

}
